<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trains</title>
</head>
<body>
    <table cellspacing="10">
        <thead><tr>
            <th>id</th>
            <th>name</th>
            <th>destination</th>
            <th>speed</th>
            <th>latitude</th>
            <th>longitude</th>
            <th>last updated</th>
        </tr></thead>

        <tbody id="trains">
        {% if train_list %}
        {% for train in train_list %}
        <tr>
            <td>{{ train.id }}</td>
            <td>{{ train.name }}</td>
            <td>{{ train.destination }}</td>
            <td>{{ train.speed }}</td>
            <td>{{ train.latitude }}</td>
            <td>{{ train.longitude }}</td>
            <td>{{ train.time }}</td>
        </tr>
        {% endfor %}
        {% endif %}
        </tbody>
    </table>
    <div>
    <a href="../logout">logout</a>
    </div>

    {% load static %}
    <script src="{% static "train_data/update_trains.js" %}"></script>
</body>
</html>